# requirements.txt

httpx
fastapi
praw
pandas
dateparser
transformers
scikit-learn
python-dotenv
nltk
weasyprint
jinja2
google-generativeai
supabase
uvicorn
python-multipart
gunicorn
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1+cpu
